/*
font-family: 'Lobster', cursive;
font-family: 'Piedra', cursive;
font-family: 'Roboto', sans-serif;
*/
body {
  font-family: "Roboto", sans-serif;
}

.mainHeader__logo {
  font-family: "lobster", cursive;
  text-decoration: none;
  color: $pink-color;
  text-decoration: none;
  & h1 {
    font-size: $logo-font;
    @include respond(phone) {
      font-size: 2rem;
    }
    &::first-letter {
      font-size: $logo-letter-font;
      font-family: "Piedra", cursive;
      color: $mainHeader-letter-color;
      letter-spacing: 0.15em;
      @include respond(tab-land) {
        margin-left: 0.5em;
      }
      @include respond(tab-port) {
        font-size: 7rem;
        margin-left: 0.3em;
      }
      @include respond(phone) {
        font-size:7rem;
        margin-left: 0.3em;
      }
    }
  }
}

.nav__link {
  font-size: 1.5rem;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 20px;
  &:hover,
  &:focus {
    background-color: $pink-color;
    color: $mainHeader-color;
  }
}

.heroHeader {
  text-align: center;
  &__box {
    line-height: 1.4;
    & h1 {
      font-size: 5rem;
      font-weight: 100;
      color: $pink-color;
    }
    & p {
      font-size: $default-font-size;
      font-weight: 700;
      font-style: italic;
      color: $mainHeader-color;
    }
  }
}
.waterMark {
  font-size: 20rem;
  position: absolute;
  top: 30%;
  left: 0%;
  z-index: -1;
  opacity: 0.1;
  color: $pink-color;
  transform: rotateZ(20deg);
  overflow: hidden;
  @include respond(tab-land) {
    font-size: 17rem;
  }
  @include respond(tab-port) {
    font-size: 12rem;
    transform: none;
    top: 1%;
    left: 5%;
  }
  @include respond(phone) {
    font-size: 2rem;
  }
}
.adjust {
  left: 5%;
  @include respond(tab-port) {
    left: 15%;
  }
}
.section__title {
  font-size: $logo-font;
  color: $pink-color;
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
  @include respond(phone) {
    font-size: 3.5rem;
  }
}
.connections__formed,
.connections__messages {
  text-align: center;
  & h1 {
    font-family: "Roboto", sans-serif;
    font-size: $logo-letter-font;
    @include respond(phone) {
      font-size: 5rem;
    }
  }
  & p {
    font-family: "Lobster", cursive;
    font-size: $default-font-size;
    color: $body-color;
  }
}

.conversations {
  text-align: center;
  &__header {
    font-family: "Roboto", sans-serif;
    font-size: $heading;
    color: $pink-color;
    font-weight: 100;
    @include respond(phone) {
      font-size: 4rem;
      text-align: left;
    }
  }
  &__body {
    font-family: "Lobster", cursive;
    font-size: $default-font-size;
    color: $body-color;
    @include respond(tab-land) {
      text-align: justify;
    }
  }
}

.goals {
  text-align: center;
  &__header {
    font-family: "Roboto", sans-serif;
    font-size: $heading;
    color: $pink-color;
    font-weight: 100;
    @include respond(phone) {
      font-size: 4rem;
      text-align: left;
    }
  }
  &__body {
    font-family: "Lobster", cursive;
    font-size: $default-font-size;
    color: $body-color;
    @include respond(tab-land) {
      text-align: justify;
    }
  }
}
