
// main header- color
$mainHeader-color :#FFF;
$pink-color: rgb(255, 82, 191);
$mainHeader_letter-color: rgb(74, 133, 228);


//font
$logo-font:5rem;
$logo-letter-font : 10rem;
$default-font-size: 1.8rem;

