// main header- color
$mainHeader-color: #fff;
$pink-color: rgb(255, 82, 191);
$mainHeader_letter-color: rgb(74, 133, 228);
$body-color: #666;

//font
$logo-font: 5rem;
$heading: 6rem;
$logo-letter-font: 10rem;
$default-font-size: 1.8rem;
