/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  padding: 0 1em;
}

@media only screen and (max-width: 75em) {
  body {
    padding: 0 2em;
  }
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

/*
font-family: 'Lobster', cursive;
font-family: 'Piedra', cursive;
font-family: 'Roboto', sans-serif;
*/
body {
  font-family: "Roboto", sans-serif;
}

.mainHeader__logo {
  font-family: "lobster", cursive;
  text-decoration: none;
  color: #ff52bf;
  text-decoration: none;
}

.mainHeader__logo h1 {
  font-size: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .mainHeader__logo h1 {
    font-size: 2rem;
  }
}

.mainHeader__logo h1::first-letter {
  font-size: 10rem;
  font-family: "Piedra", cursive;
  color: #4a85e4;
  letter-spacing: 0.15em;
}

@media only screen and (max-width: 75em) {
  .mainHeader__logo h1::first-letter {
    margin-left: 0.5em;
  }
}

@media only screen and (max-width: 56.25em) {
  .mainHeader__logo h1::first-letter {
    font-size: 7rem;
    margin-left: 0.3em;
  }
}

@media only screen and (max-width: 37.5em) {
  .mainHeader__logo h1::first-letter {
    font-size: 7rem;
    margin-left: 0.3em;
  }
}

.nav__link {
  font-size: 1.5rem;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 20px;
}

.nav__link:hover, .nav__link:focus {
  background-color: #ff52bf;
  color: #fff;
}

.heroHeader {
  text-align: center;
}

.heroHeader__box {
  line-height: 1.4;
}

.heroHeader__box h1 {
  font-size: 5rem;
  font-weight: 100;
  color: #ff52bf;
}

.heroHeader__box p {
  font-size: 1.8rem;
  font-weight: 700;
  font-style: italic;
  color: #fff;
}

.waterMark {
  font-size: 20rem;
  position: absolute;
  top: 30%;
  left: 0%;
  z-index: -1;
  opacity: 0.1;
  color: #ff52bf;
  -webkit-transform: rotateZ(20deg);
          transform: rotateZ(20deg);
  overflow: hidden;
}

@media only screen and (max-width: 75em) {
  .waterMark {
    font-size: 17rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .waterMark {
    font-size: 12rem;
    -webkit-transform: none;
            transform: none;
    top: 1%;
    left: 5%;
  }
}

@media only screen and (max-width: 37.5em) {
  .waterMark {
    font-size: 2rem;
  }
}

.adjust {
  left: 5%;
}

@media only screen and (max-width: 56.25em) {
  .adjust {
    left: 15%;
  }
}

.section__title {
  font-size: 5rem;
  color: #ff52bf;
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}

@media only screen and (max-width: 37.5em) {
  .section__title {
    font-size: 3.5rem;
  }
}

.connections__formed,
.connections__messages {
  text-align: center;
}

.connections__formed h1,
.connections__messages h1 {
  font-family: "Roboto", sans-serif;
  font-size: 10rem;
}

@media only screen and (max-width: 37.5em) {
  .connections__formed h1,
  .connections__messages h1 {
    font-size: 5rem;
  }
}

.connections__formed p,
.connections__messages p {
  font-family: "Lobster", cursive;
  font-size: 1.8rem;
  color: #666;
}

.conversations {
  text-align: center;
}

.conversations__header {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  color: #ff52bf;
  font-weight: 100;
}

@media only screen and (max-width: 37.5em) {
  .conversations__header {
    font-size: 4rem;
    text-align: left;
  }
}

.conversations__body {
  font-family: "Lobster", cursive;
  font-size: 1.8rem;
  color: #666;
}

@media only screen and (max-width: 75em) {
  .conversations__body {
    text-align: justify;
  }
}

.goals {
  text-align: center;
}

.goals__header {
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  color: #ff52bf;
  font-weight: 100;
}

@media only screen and (max-width: 37.5em) {
  .goals__header {
    font-size: 4rem;
    text-align: left;
  }
}

.goals__body {
  font-family: "Lobster", cursive;
  font-size: 1.8rem;
  color: #666;
}

@media only screen and (max-width: 75em) {
  .goals__body {
    text-align: justify;
  }
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  cursor: pointer;
  margin-top: 1em;
  font-size: 1.8rem;
  border: 5px solid #fff;
  background-color: #ff52bf;
  color: #fff;
  border-radius: 20em;
  padding: 1em 4em;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.button:hover {
  color: #ff52bf;
  background-color: #fff;
  border-color: #ff52bf;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0.5em 0.51em 2em rgba(255, 82, 191, 0.5);
          box-shadow: 0.5em 0.51em 2em rgba(255, 82, 191, 0.5);
}

.button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0.2em 0.3em 1em rgba(255, 82, 191, 0.5);
          box-shadow: 0.2em 0.3em 1em rgba(255, 82, 191, 0.5);
}

svg {
  width: 100vw;
  margin: 0 auto;
}

@media only screen and (max-width: 75em) {
  svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media only screen and (max-width: 56.25em) {
  svg {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media only screen and (max-width: 37.5em) {
  svg {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

img {
  max-width: 100%;
}

.section {
  margin-top: 5em;
  position: relative;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (max-width: 75em) {
  .section__container {
    display: block;
  }
}

.border {
  border-bottom: 10px double #ff52bf;
  width: 20%;
  margin: 0 auto;
}

@media only screen and (max-width: 75em) {
  .border {
    width: 40%;
    margin: 2em auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .border {
    width: 50%;
  }
}

.connections {
  margin-right: 0;
}

.connections__box {
  width: 30%;
  margin: 0 auto;
}

@media only screen and (max-width: 75em) {
  .connections__box {
    width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .connections__box {
    width: 100%;
  }
}

.connections__icon {
  text-align: right;
}

@media only screen and (max-width: 75em) {
  .connections__icon {
    text-align: center;
  }
}

.connections__formed {
  margin: 5em 0;
}

@media only screen and (max-width: 37.5em) {
  .connections__formed {
    margin: 2em 0;
  }
}

.connections__image {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 60%;
  z-index: -5;
}

@media only screen and (max-width: 75em) {
  .connections__image {
    margin-top: 6em;
    text-align: center;
    padding: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .connections__image {
    margin-top: 4em;
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .connections__image {
    margin-top: -5em;
    height: 70vh;
  }
}

.conversations {
  padding: 0 5em;
  margin-bottom: 5em;
}

.conversations__image {
  width: 60%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media only screen and (max-width: 75em) {
  .conversations__image {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .conversations__image {
    margin-top: -15em;
    height: 80vh;
  }
}

.conversations__box {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 30%;
  margin-left: 10em;
}

@media only screen and (max-width: 75em) {
  .conversations__box {
    width: 50%;
    margin: 3em auto;
  }
}

@media only screen and (max-width: 56.25em) {
  .conversations__box {
    width: 50%;
    margin: 3em auto;
  }
}

.goals {
  padding: 0 5em;
  margin-bottom: 5em;
}

.goals__image {
  width: 60%;
  z-index: -5;
}

@media only screen and (max-width: 75em) {
  .goals__image {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .goals__image {
    width: 100%;
    margin-left: -10em;
    margin-top: -15em;
    height: 80vh;
  }
}

.goals__box {
  width: 30%;
  margin-left: 10em;
}

@media only screen and (max-width: 75em) {
  .goals__box {
    width: 50%;
    margin: 5em auto;
  }
}

.mainHeader {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  position: fixed;
  top: 1%;
  width: 100%;
  -webkit-box-shadow: 0.5em 1em 2em rgba(0, 0, 0, 0.8);
          box-shadow: 0.5em 1em 2em rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media only screen and (max-width: 56.25em) {
  .mainHeader {
    display: block;
    width: 100%;
  }
}

.mainHeader__box {
  width: 45%;
}

.headerToggle {
  height: 30vh;
}

.heroHeader {
  margin-top: 18em;
  height: 60rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(255, 82, 191, 0.3))), url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(255, 82, 191, 0.3)), url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  position: relative;
}

.heroHeader__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.nav {
  width: 40%;
  position: relative;
}

.nav__toggler {
  display: none;
  position: fixed;
  right: 2em;
  top: 4em;
  width: 4em;
  height: 4em;
}

@media only screen and (max-width: 56.25em) {
  .nav__toggler {
    display: inline-block;
  }
}

.nav__toggler__icon {
  cursor: pointer;
  font-size: 5rem;
  color: #ff52bf;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5em;
}

@media only screen and (max-width: 56.25em) {
  .nav__list {
    display: none;
    height: 30em;
    margin-top: 0;
  }
}

.nav__visible {
  display: inline-block;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
}

.nav__item {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #ff52bf;
  margin: 0;
}

@media only screen and (max-width: 56.25em) {
  .nav__item {
    margin: 6em 6em;
  }
}

.nav .active {
  padding: 1.7em 0.3em;
  border-radius: 2em;
  color: #fff;
  background-color: #ff52bf;
  margin-top: -20px;
  overflow: hidden;
}

.nav__link {
  border: 2px solid #ff52bf;
  border-radius: 5rem;
  padding: 1em 2em;
  outline: none;
}
/*# sourceMappingURL=style.css.map */