/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
html {
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;
}

body {
  padding: 1em;
}

/*
font-family: 'Lobster', cursive;
font-family: 'Piedra', cursive;
font-family: 'Roboto', sans-serif;
*/
body {
  font-family: "Roboto", sans-serif;
}

.mainHeader__logo {
  font-family: "lobster", cursive;
  text-decoration: none;
  color: #ff52bf;
  text-decoration: none;
}

.mainHeader__logo h1 {
  font-size: 5rem;
}

.mainHeader__logo h1::first-letter {
  font-size: 10rem;
  font-family: "Piedra", cursive;
  color: #4a85e4;
  letter-spacing: 0.15em;
}

.nav__link {
  font-size: 1.5rem;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
  margin-top: 20px;
}

.nav__link:hover, .nav__link:focus {
  background-color: #ff52bf;
  color: #FFF;
}

.heroHeader {
  text-align: center;
}

.heroHeader__box {
  line-height: 1.4;
}

.heroHeader__box h1 {
  font-size: 5rem;
  font-weight: 100;
  color: #ff52bf;
}

.heroHeader__box p {
  font-size: 1.8rem;
  font-weight: 700;
  font-style: italic;
  color: #FFF;
}

.section__title {
  font-size: 5rem;
  color: #ff52bf;
  text-align: center;
  margin-bottom: 2em;
  text-transform: uppercase;
}

.connection__formed,
.connection__messages {
  text-align: center;
}

.connection__formed h1,
.connection__messages h1 {
  font-family: "Roboto", sans-serif;
  font-size: 10rem;
}

.connection__formed p,
.connection__messages p {
  font-family: 'Lobster', cursive;
  font-size: 1.8rem;
  color: #888;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
}

.button {
  cursor: pointer;
  margin-top: 1em;
  font-size: 1.8rem;
  border: 5px solid #FFF;
  background-color: #ff52bf;
  color: #FFF;
  border-radius: 20em;
  padding: 1em 4em;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.button:hover {
  color: #ff52bf;
  background-color: #FFF;
  border-color: #ff52bf;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0.5em 0.51em 2em rgba(255, 82, 191, 0.5);
          box-shadow: 0.5em 0.51em 2em rgba(255, 82, 191, 0.5);
}

.button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0.2em 0.3em 1em rgba(255, 82, 191, 0.5);
          box-shadow: 0.2em 0.3em 1em rgba(255, 82, 191, 0.5);
}

.section {
  height: 100vh;
  margin-top: 10em;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.border {
  border-bottom: 10px double #ff52bf;
  width: 20%;
  margin: 0 auto;
}

.connection__box {
  width: 30%;
}

.connection__icon {
  text-align: right;
}

.connection__formed {
  margin: 5em 0;
}

.connection__image {
  width: 70%;
}

.mainHeader {
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  height: 20vh;
  position: fixed;
  width: 98.5%;
  -webkit-box-shadow: 0.5em 1em 2em rgba(0, 0, 0, 0.8);
          box-shadow: 0.5em 1em 2em rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.mainHeader__box {
  width: 45%;
}

.heroHeader {
  margin-top: 18em;
  padding: 0 1em;
  height: 60rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(255, 82, 191, 0.3))), url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(255, 82, 191, 0.3)), url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: top;
  position: relative;
}

.heroHeader__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

section {
  height: 500px;
}

.nav {
  width: 50%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__item {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #ff52bf;
}

.nav .active {
  padding: 1.7em 0.3em;
  border-radius: 2em;
  color: #fff;
  background-color: #ff52bf;
  margin-top: -20px;
  overflow: hidden;
}

.nav__link {
  border: 1px solid #ff52bf;
  border-radius: 5rem;
  padding: 1em 2em;
  outline: none;
}
/*# sourceMappingURL=style.css.map */